spring.application.name=homework4-user-service

spring.datasource.url=jdbc:postgresql://localhost:5432/user_service_db
spring.datasource.username=CHANGE_ME
spring.datasource.password=CHANGE_ME

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

server.port=8080
